
<div id="confirm-domain-form" class="row">
  <p>
    Confirming your domain helps us know who we're working with.
    It also offers some visibility to your customers into where their money is going.
    We ask that you add a DNS entry to the domain, to prove that you control it.
  </p>
  <div class="has-wallet">
    <div id="domain-form">
      <p>To confirm you own your domain, you'll need to add a DNS entry.</p>
      <code class="dns-entry"></code>
      <p>Once that's done, we should pick it up here automatically</p>
    </div>
    <div id="confirm-success" style="display: none;">
    </div>
  </div>
</div>
