
<div id="confirm-domain-form" style="display: none;" class="row">
  <p>
    Confirming your domain helps us know who we're working with.
    It also offers some visibility to your customers into where their money is going.
    We ask that you add a DNS entry to the domain, to prove that you control it.
  </p>
  <div class="has-wallet">
    <form id="domain-form">
      <p>To confirm you own your domain, you'll need to add a DNS entry.</p>
      <pre><code class="dns-entry"></code></pre>
      <p>Once that's done, click CREATE below</p>
      <div class="col s6">
        <button type="submit" class="col s4 btn waves-effect waves-light">Create Contract</button>
        <div class="progress col s5 push-s1">
          <div class="indeterminate"></div><span class="contract-step"></span>
        </div>
      </div>
    </form>
    <div id="confirm-success" style="display: none;">
    </div>
  </div>
</div>
