<div class="install-metamask">
  <div class="enabled">
    You can learn more about it from <a href=\"https://metamask.io/\">Metamask.io</a>.
    <br/>
    Or just install the specific extension for your browser from the <span id="install-extension-link"></span>
    <br/>
    When that's done, reload this page.
  </div>
  <div class="disabled">
    It looks like your browser doesn't support Web3 yet. To use tinypay, you'll need to be browsing with Chrome or a compatible browser like <a href="https://github.com/ethereum/mist/releases">Mist</a>.
  </div>
</div>
