<div id="seed-wallet">
  <div class="has-money">
    Your local wallet has <span id="wallet-amount"></span> Wei in it, so you're set to go!
  </div>
  <div class="no-money">
    In order to pay with Tinypay, you'll need to deposit funds into your local Ethereum wallet.
    <br/>
    If you don't already have a wallet with Ethereum in it, we recommend the following process:
    <ul>
      <li>Purchase some Ethereum</li>
      <ul>
        <li>
          We recommend setting up a <a href="https://www.coinbase.com/">Coinbase</a> account.
          There are many brokerages that can do this for you, but Coinbase makes it easy.
        </li>
        <li>Buy some Ethereum</li>
      </ul>
      <li>Transfer some Ether to your local wallet.</li>
    </ul>
  </div>
</div>
