<div class="switch-testnet">
  <div class="enabled">
    <div class="using-testnet">
      Great, you're using Testnet.
    </div>
    <div class="not-using-testnet">
      You can switch to Testnet in Metamask by clicking the network selector.<br/>
      <img style="height:250px;" src="/img/metamask-testnet.png"/>
    </div>
  </div>
  <div class="disabled">
  </div>
</div>
