{{> header }}
  <div class="container">

    <div class="row">
      <h3>Signup your domain today with Tinypay!</h3>
      <p>Fill out the information below to get started</p>
    </div>

    <div class="row">
      <div class="col s10 push-s1">
        <article>
          <form id="signup-form" class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Domain" id="domain" type="text" class="validate">
                <label for="first_name">Domain</label>
              </div>
            </div>

            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Price" id="price-per-hit" type="text" class="validate">
                <label for="first_name">Price Per Hit</label>
              </div>
            </div>

            <div class="row">
              <div class="s6">
                <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">flash_on</i>Signup</button>
              </div>
            </div>
          </form>
        </article>
      </div>
    </div>
  </div>

{{> footer }}
{{#javascript_bundle}}/js/signup.js{{/javascript_bundle}}

<script>
  var reveal = function () { $("#hidden-section").show(); $("#CTA").hide(); };
  MP.Configure({
    pricePerView: "4328994800000000", // in wei this is $0.05 at Ether ~= 11.5 USD
    userClientContractAddress: "0x697e8c46889e29d70f5ca586ae72337076f7921d",
    callback: reveal
  }).Init();
</script>
