
			</div> <!-- id="full-height" -->
			<footer class="">
				<p><a href="http://lovable.tech/">{{{footer-text}}}</a></p>
			</footer>

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.nav-mobile-btn').sideNav();
        });
      </script>
		</body>

</html>
