{{> header }}
  <div class="container">

    <div class="row">
      <h3>Imagine finding a great piece of content</h3>
      <p>Often sites will pose a paywall like this, now you can collect funds immediately to open the paywall</p>
    </div>

    <div class="row">
      <div class="col s10 push-s1">
        <article>
          <section>
            {{{article_intro}}}
          </section>

          <div id="CTA">Like the intro? Pay with micropay to reveal the rest of the article
            <div id="micropay-button"></div>
          </div>

          <section id="hidden-section" style="display: none; ">
            {{{article_rest}}}
          </section>
        </article>
      </div>
    </div>
  </div>

{{> footer }}
{{#javascript_bundle}}/js/client.js{{/javascript_bundle}}

<script>
  var reveal = function () { $("#hidden-section").show(); $("#CTA").hide(); };
  MP.Configure({
    pricePerView: "4328994800000000", // in wei this is $0.05 at Ether ~= 11.5 USD
    userClientContractAddress: "0x2C28De2422732AB77EFdA8854597A960FaB7A77B",
    callback: reveal
  }).Init();
</script>
