/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html, body {
   height: 100%;
 }

body {
  font-family: 'Open Sans', sans-serif;
  color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  color: #3e5673;
  letter-spacing: -2px;
}

p {
  font-size: 16px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#min-height {
  min-height: 50%;
  overflow: scroll;
}

#min-height:after {
  content: "";
  display: block;
}

footer, #min-height:after {
  height: 60px;
}

blockquote {
  border-left-color: #3e5673;
}

.progress {
  display: none;
}

.error {
  display: none;
}

.errorMsg {
  color: red;
}

#how-it-works {
  width: 100%;
}

.vertical-center {
  margin-top: 15%;
}

a:hover {
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  z-index: 100;
}

.nav-theme {
  background-color: white;
  color: black;
}

.nav-theme .brand-logo {
  color: black;
}

nav ul li a, nav ul li a:hover {
  color: black;
}

nav ul li a:hover {
  border-bottom: 2px solid black;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
  background: white;
  box-shadow: 0px -5px 5px 1px rgba(204,204,204,0.5);
  width: 100%;
}

.marg-15 {
  margin-top: 70px;
}

footer.page-footer {
  padding-top: 0;
  width: 100%;
  z-index: 100;
}

footer p {
  color: black;
  font-weight: 300;
  margin: 0;
  padding: 20px 24px;
  font-size: 13px;
  text-align: right;
}

.brand-logo {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

h1.header {
  margin: 2.1rem 0 1rem 0
}

.index-title {
  min-height: 50px;
}
.navy-text {
  color: #3e5673;
}

.magenta {
  background-color: #f66;
}

.magenta-font {
  color: #f66;
}

.btn-large.orange, .btn {
  background-color: #f66;
}

.navy {
  background-color: #3e5673;
}

.icon-block .material-icons {
  font-size: 60px;
  width: 60px;
}
.light {
  text-align: center;
}
.tinypay-btn {
  background-color: #3e5673;
  padding: 8px 10px 8px 8px;
  line-height: 20px;
}
.tinypay-btn i.left {
  margin-right: 6px;
}
h3 {
  margin-top: 26px;
}
pre {
  background-color: #fefefe;
  padding: 15px;
}
i.large {
  font-size: 2.92rem;
}

.hero-bg {
  height: 900px;
  background: url(/img/bg.jpg) no-repeat bottom center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-large:hover a:hover {
  color: white;
}

.hero-bg .container {
  margin-top: 15%;
}

.hero-bg h1, .hero-bg h5 {
  color: black;
}
