/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 html, body {
   height: 100%;
 }

body {
  font-family: 'Roboto', sans-serif;
  color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', sans-serif;
  color: #3e5673;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#min-height {
  min-height: 50%;
  overflow: scroll;
}

#min-height:after {
  content: "";
  display: block;
}

footer, #min-height:after {
  height: 60px;
}

.progress {
  display: none;
}

.error {
  display: none;
}

.errorMsg {
  color: red;
}

#how-it-works {
  width: 100%;
}

.vertical-center {
  margin-top: 15%;
}

nav {
  position: fixed;
  top: 0;
  z-index: 100;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 100;
}

footer.page-footer {
  padding-top: 0;
  width: 100%;
  z-index: 100;
}

footer p {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  margin: 0;
  padding: 20px 24px;
  font-size: 13px;
  text-align: right;
}

.brand-logo {
  font-family: 'Karla', sans-serif;
  font-weight: bold;
}

h1.header {
  margin: 2.1rem 0 1rem 0
}

.index-title {
  min-height: 50px;
}
.navy-text {
  color: #3e5673;
}

.magenta {
  background-color: #f66;
}

.btn-large.orange, .btn {
  background-color: #f66;
}

.navy {
  background-color: #3e5673;
}

.icon-block .material-icons {
  font-size: 60px;
  width: 60px;
}
.light {
  text-align: center;
}
.tinypay-btn {
  background-color: #f66;
  padding: 8px 10px 8px 8px;
  line-height: 20px;
}
.tinypay-btn i.left {
  margin-right: 6px;
}
h3 {
  margin-top: 26px;
}
pre {
  background-color: #ddd;
  padding: 10px 0 10px 0;
}
i.large {
  font-size: 2.92rem;
}
#index-banner {
  margin-top: 70px;
}
